// ! GENERAL MEASURES FILE

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 769px;
$breakpoint-ultrawide: 2000px;

// Icons size
$icon-size: 44px;

// Footer
$height-footer-sidebar: 55px;
$height-footer: 75px;

// Home
$height-home-image: 400px;

// Navbar
$height-navbar: 60px;
$height-navbar-mobile: 60px;

// Sidebar
$width-sidebar-desktop: 200px;
// --width-sidebar-desktop-var: $width-sidebar-desktop;
$width-sidebar-tablet: 60px;
// --width-sidebar-tablet-var: $width-sidebar-tablet;
$width-sidebar-mobile: 0px;
// var(--width-sidebar-mobile-var): $width-sidebar-mobile;
$width-searchbar: 60vw;

// ! Border radius
$border-radius-biggest: 20px;
$border-radius-big: 16px;
$border-radius-medium: 12px;
$border-radius-small: 8px;
$border-radius-smallest: 4px;

// ! Separation - Margin & Padding
$separation-biggest: 40px;
$separation-big: 20px;
$separation-medium-big: 16px;
$separation-medium-small: 12px;
$separation-small: 8px;
$separation-smallest: 4px;


// TODO - DELETE
//Note: NEEDS REFFACTORING
// Padding
$padding-inner: $separation-smallest $separation-medium-small;  // 5px, 5px
$padding-inner-element: $separation-smallest 7px $separation-smallest $separation-medium-small;  // 5px, 7px, 5px, 10px
$padding-text: calc($separation-smallest / 2) 0;  // 2.5px 0px

// Note: needs to be refactored
$padding-element-top-bottom: 10px; // navbar
$padding-element-left-right: 15px;  // Navbar
$padding-sidebar: 10px;
$padding-sidebar-mobile-width: 20px;
$padding-sidebar-mobile-height: 7.5px;
