// ! Fonts
@import "fonts.scss";
@import "sizes.scss";
@import "colors.scss";
@import "themes.scss";

// ! Media queries
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 769px;

// ! Color
$color-primary: rgb(25, 25, 25);
$color-primary-trans: rgba(25, 25, 25, 0.8);
$color-secondary: rgb(14, 14, 14);
$color-tertiary: rgb(40, 40, 40);

$color-primary-light: rgb(251, 251, 251);
$color-primary-light-trans: rgba(251, 251, 251, 0.5);
$color-primary-light-trans-trans: rgba(251, 251, 251, 0.1);
$color-secondary-light: rgb(233, 233, 233);

$color-text-active: rgb(179, 179, 179);
$color-text-blue: rgb(0, 191, 255);
$color-text-cream: rgb(255, 216, 76);
$color-text-yellow: rgb(255, 216, 76);

$color-primary-glass-morph: (
	background: rgba(14, 14, 14, 0.8),
	box-shadow: 4 4px 30px rgba(0, 0, 0, 1),
	backdrop-filter: blur(8px),
	-webkit-backdrop-filter: blur(8px)
);

$color-primary-glass-morph-content: (
	background: $color-primary-trans,
	box-shadow: 4 4px 30px rgba(255, 255, 255, 1),
	backdrop-filter: blur(8px),
	-webkit-backdrop-filter: blur(8px),
	border-radius: 15px
);

$color-secondary-glass-morph-content: (
	background: $color-secondary,
	box-shadow: 4 4px 30px rgba(255, 255, 255, 1),
	backdrop-filter: blur(10px),
	-webkit-backdrop-filter: blur(10px),
	border-radius: 15px
);


// ! Size
$navbar-padding-right: 45px;
$navbar-padding-left: 60px;
$navbar-padding-top-bottom: 10px;

$welcome-square-border: 8px;
$welcome-square-width: $height-navbar * 2;
$welcome-square-width-2: $welcome-square-width * 2 - 2;
$welcome-square-width-4: $welcome-square-width * 2 - 4;

$width-scrollspy: 200px;

html,
body {
	top: 0;
	margin: 0;
	padding: 0;

	scroll-behavior: smooth !important;

	img {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

body {
	// Scrollbar
	overflow-y: scroll;
	overflow-x: hidden;

	//Make the scroll bar invisible
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
	}
}