@font-face {
  font-family: 'portfolioIcons';
  src:  url('../fonts/icomoon.eot?q0bfep');
  src:  url('../fonts/icomoon.eot?q0bfep#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q0bfep') format('truetype'),
    url('../fonts/icomoon.woff?q0bfep') format('woff'),
    url('../fonts/icomoon.svg?q0bfep#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolioIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-0:before {
  content: "\e900";
  color: #faf0e6;
}
.icon-1:before {
  content: "\e901";
  color: #faf0e6;
}
.icon-2:before {
  content: "\e902";
  color: #faf0e6;
}
.icon-3:before {
  content: "\e903";
  color: #faf0e6;
}
.icon-4:before {
  content: "\e904";
  color: #faf0e6;
}
.icon-5:before {
  content: "\e905";
  color: #faf0e6;
}
.icon-6:before {
  content: "\e906";
  color: #faf0e6;
}
.icon-7:before {
  content: "\e907";
  color: #faf0e6;
}
.icon-8:before {
  content: "\e908";
  color: #faf0e6;
}
.icon-9:before {
  content: "\e909";
  color: #faf0e6;
}
.icon-10:before {
  content: "\e90a";
  color: #faf0e6;
}
.icon-11:before {
  content: "\e90b";
  color: #faf0e6;
}
.icon-account_tree:before {
  content: "\e90c";
  color: #faf0e6;
}
.icon-alarm:before {
  content: "\e90d";
  color: #faf0e6;
}
.icon-alternate_email:before {
  content: "\e90e";
  color: #faf0e6;
}
.icon-bar_chart:before {
  content: "\e90f";
  color: #faf0e6;
}
.icon-close:before {
  content: "\e910";
  color: #faf0e6;
}
.icon-dark_mode:before {
  content: "\e911";
  color: #faf0e6;
}
.icon-east:before {
  content: "\e912";
  color: #faf0e6;
}
.icon-east-1:before {
  content: "\e913";
  color: #faf0e6;
}
.icon-event_note:before {
  content: "\e914";
  color: #faf0e6;
}
.icon-expand_less:before {
  content: "\e915";
  color: #faf0e6;
}
.icon-expand_more:before {
  content: "\e916";
  color: #faf0e6;
}
.icon-finance:before {
  content: "\e917";
  color: #faf0e6;
}
.icon-home:before {
  content: "\e918";
  color: #faf0e6;
}
.icon-instant_mix:before {
  content: "\e919";
  color: #faf0e6;
}
.icon-mail:before {
  content: "\e91a";
  color: #faf0e6;
}
.icon-map:before {
  content: "\e91b";
  color: #faf0e6;
}
.icon-news:before {
  content: "\e91c";
  color: #faf0e6;
}
.icon-north:before {
  content: "\e91d";
  color: #faf0e6;
}
.icon-north_east:before {
  content: "\e91e";
  color: #faf0e6;
}
.icon-north_west:before {
  content: "\e91f";
  color: #faf0e6;
}
.icon-note:before {
  content: "\e920";
  color: #faf0e6;
}
.icon-note_stack:before {
  content: "\e921";
  color: #faf0e6;
}
.icon-person:before {
  content: "\e922";
  color: #faf0e6;
}
.icon-play_shapes:before {
  content: "\e923";
  color: #faf0e6;
}
.icon-route:before {
  content: "\e924";
  color: #faf0e6;
}
.icon-tactic:before {
  content: "\e925";
  color: #faf0e6;
}
.icon-today:before {
  content: "\e926";
  color: #faf0e6;
}
.icon-Vector:before {
  content: "\e927";
  color: #faf0e6;
}
.icon-Vector-1:before {
  content: "\e928";
  color: #faf0e6;
}
.icon-Vector-2:before {
  content: "\e929";
  color: #faf0e6;
}
.icon-wb_sunny:before {
  content: "\e92a";
  color: #faf0e6;
}
.icon-widgets:before {
  content: "\e92b";
  color: #faf0e6;
}
.icon-window:before {
  content: "\e92c";
  color: #faf0e6;
}
