// !  Color
$color-primary: #181818;
$color-secondary: #0e0e0e;
$color-tertiary: #282828;

$color-primary-light: #fbfbfb;
$color-primary-light-trans: rgba(251, 251, 251, 0.5);
$color-primary-light-trans-trans: rgba(251, 251, 251, 0.1);
$color-secondary-light: #e9e9e9;

$color-text-active: #b3b3b3;
$color-text-blue: #00bfff;
$color-text-cream: #ffd84c;

$color-primary-glass-morph: (
	background: rgba(14, 14, 14, 0.8),
	box-shadow: 4 4px 30px rgba(0, 0, 0, 1),
	backdrop-filter: blur(12px),
	-webkit-backdrop-filter: blur(12px)
);

// ! Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

$font-primary: 'Lora', serif;
$font-secondary: 'Lato', sans-serif;
// A coding font
$font-code: 'Fira Code', monospace;

// ! Size
$navbar-padding-right: 45px;
$navbar-padding-left: 60px;
$navbar-padding-top-bottom: 10px;
$navbar-height: 60px;

$welcome-height-square: 1vh;
$welcome-width-square: 1vw;
$welcome-square-border: 8px;
